.directory {
    width: calc(100% - 15px);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border: 2px solid #f3f3f3;
    border-radius: 25px;
    margin: 10px 0;
    margin-left: 15px;
    cursor: pointer;

    &.clicked,
    &.clicked:hover {
        background-color: #0095fa;
        border: 2px solid #0095fa;
        color: #fff;
    }

    &:hover {
        background-color: #f3f3f3;
    }
    
    i {
        margin-right: 15px;
    }
}