.text-preview-container {
    display: flex;

    .text-preview {
        width: 50%;

        & > div {
            margin: 20px 0;
        }

        label {
            font-size: 16px;
            font-weight: 600;
            margin-right: 3px;
            display: inline-block;
            width: 110px;
        }

        .segment-count {
            display: flex;

            .count {
                margin-left: 5px;
                position: relative;
                
                span {
                    font-weight: 600;
                    color: #0095f6;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .message-container {
            display: flex;
     
            .message {
                background-color: #f8f9fa;
                padding: 15px;
                border-radius: 3px;
                line-height: 1.5;
                width: calc(100% - 110px);
                box-sizing: border-box;

                img {
                    max-width: 120px;
                }
            }
        }

        .preview-buttons {
            display: flex;
            justify-content: space-between;

            .edit-send-button {
                button {
                    margin-left: 8px;
                }
            }
        }
    }
}