.dashboard {
  display: flex;

    .main-container {
    padding: 20px 0;
    margin-left: 240px;
    width: calc(100vw - 240px);

        .container {
            padding: 0 30px;
        }
    }

    .signout-button {
        position: fixed;
        left: 35px;
        bottom: 35px;

        i {
            font-size: 20px;  
            cursor: pointer;

            &:hover {
            color: #0095f6;
            }
        }
    }
}