.splash {
    background-color: #f8f9fa;
    height: 100vh;
    width: 100vw;
    display: flex;

    .main-container {
        margin: auto;
        width: 380px;
        padding: 50px 20px;
        text-align: center;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .01);

        .logo {
            width: 190px;
            margin-bottom: 35px;
        }

        .buttons {

            button {
                color: #fff;
                padding: 10px 40px;
                border-radius: 5px;
                font-weight: 600;
                font-size: 15px;
                transition: background-color 150ms linear;

                &.signin-button {
                    background-color: #0095fa;
                    margin: 0 5px 0 5px;

                    &:hover {
                        background-color: #0080fa;
                        transition: background-color 150ms linear;
                    }
                }

                &.signup-button {
                    background-color: #0064d4;
                    margin: 0 5px 0 5px;

                    &:hover {
                        background-color: #0052d4;
                        transition: background-color 150ms linear;
                    }
                }
            }
        }
    }
}