.giphy-items {
    display: inline-block;
    background-color: #eee;

    .giphy {
        background-size: 100%;
        width: 150px;
        height: 150px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        border: 4px solid #fff;
        box-sizing: border-box;
        border-radius: 6px;

        &.selected {
            border: 4px solid #0095fa;
        }
    }
}