.sign-up {
    opacity: 0;

    &.active {
        opacity: 1;
        transition: all 550ms ease-in-out;
    }

    .error-message {
        text-align: left;
        margin-left: 40px;
        margin-bottom: 15px;
        color: #ff0000;
        font-size: 12px;
        position: relative;

        span {
            position: absolute;
            top: -10px;
        }
    }
    
    button {
        color: #fff;
        margin: 20px 5px 0 5px;
        padding: 10px 40px;
        border-radius: 5px;
        font-weight: 600;
        font-size: 15px;
        background-color: #0095f6;
        transition: background-color 150ms linear;

        &:hover {
            background-color: #0080fa;
            transition: background-color 150ms linear;
        }
    }

    .option {
        padding-top: 25px;
        font-size: 14px;

        .link {
            font-weight: 600;
            color: #0095f6;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}