body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: #212529;
}

button {
	cursor: pointer;
	border: none;
}

button:active {
	transform: scale(.98);
}

textarea {
	resize: none;
}

input, button, textarea, label {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	outline: none;
}