.dropdown-container {
    position: absolute;
    width: 160px;
    top: 25px;
    left: -73px;
    height: 0;
    opacity: 0;

    &.active {
        height: auto;
        opacity: 1;
        transform: translate3d(0, 5px, 0);
        transition: all 350ms ease-in-out;
    }

    .dropdown-tip {
        background-color: #333;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        transform: rotate(45deg);
        position: absolute;
        top: -4px;
        left: 75px;
    }

    .dropdown {
        color: #fff;
        background-color: #333;
        padding: 5px;
        border-radius: 3px;

        li {
            padding: 5px;
            font-size: 14px;
        }
    }
}