.giphy-modal {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;

    .giphy-container {
        width: 450px;
        background-color: #fff;
        margin: 5% auto;
        position: relative;
        opacity: 0;
        padding: 4px;
        padding-top: 26px;
        border-radius: 3px;

        &.active {
            opacity: 1;
            transform: translate3d(0, 25px, 0);
            transition: all 250ms ease-in-out;
        }

        .close-button {
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;

            &:hover {
                color: #0095fa;
            }
        }

        .search-bar {
            width: 100%;
            position: absolute;
            background-color: #f8f9fa;
            left: 0;
            top: 0;
            padding: 14px;
            padding-top: 15px;
            box-sizing: border-box;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom: 1px solid #eee;

            input {
                border: 1px solid #eee;
                border-radius: 20px;
                height: 35px;
                width: 100%;
                padding-left: 20px;
                box-sizing: border-box;

                &:focus ~ i {
                    color: #0095fa;
                    transition: color 150ms linear;
                }
            }

            i {
                position: absolute;
                right: 38px;
                top: 25px;
                cursor: pointer;
                color: #ccc;
                transition: color 150ms linear;
            }
        }

        .giphy-items-container {
            margin-top: 56px;
            margin-bottom: 15px;
        }

        .giphy-modal-footer {
            position: absolute;
            width: 100%;
            box-sizing: border-box;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            left: 0;
            padding: 12px 14px;
            background-color: #f8f9fa;
            border-top: 1px solid #eee;

            .add-giphy-button {
                float: right;
            }

            .giphy-logo {
                font-size: 12px;
                color: #999;
                margin-top: 12px;
                font-weight: 600;
            }
        }
    }
}